<img
        class="absolute z-0 left-2 bottom-[76px]"
        src="../assets/images/banner_shape05.png"
        alt="Banner shape"
      />
      <img
        class="absolute z-0 left-[31.19px] md:left-[61.44px] top-[132.36px] md:top-[139.05px]"
        src="../assets/images/banner_shape02.png"
        alt="Banner shape"
      />
      <img
        class="absolute z-0 left-[98.66px] md:left-[194.3px] top-[122.86px] md:top-[126.41px]"
        src="../assets/images/banner_shape03.png"
        alt="Banner shape"
      />
      <img
        class="absolute md:block hidden z-0 md:left-[81.41px] md:top-[303.39px]"
        src="../assets/images/banner_shape04.png.png"
        alt="Banner shape"
      />
      <img
        class="absolute md:block hidden z-0 md:right-[86.39px] md:bottom-[289.75px]"
        src="../assets/images/banner_shape06.png.png"
        alt="Banner shape"
      />
      <img
        class="absolute md:block hidden z-0 md:right-[105.02px] md:bottom-[13.77px]"
        src="../assets/images/banner_shape07.png.png"
        alt="Banner shape"
      />
      <div class="relative">
        <button class="bg-[#f79d5a] border-none rounded-[32px] text-[#fff1e7] text-[18px] leading-[21.6px] mt-[90px] pt-[23px] pb-[22.19px] px-[21px] md:pt-3 md:pb-[11.59px]">
          Social Media Marketing That Works!
        </button>
        <h2 class="mt-5 text-custom md:text-[72px] md:leading-[79.2px]">Save Time</h2>
        <h2 class="my-4 text-custom md:text-[72px] md:leading-[79.2px]">Build Connections</h2>
        <h2 class="mb-8 text-custom md:text-[72px] md:leading-[79.2px]">Increase Profits</h2>
      </div>
      <div class="grid relative z-10 grid-cols-2 grid-rows-2 md:px-[92px]">
        <img
          class="w-full pr-2 md:pr-4 pb-1 md:pb-2"
          src="../assets/images/banner-image-1.png"
          alt="Banner image"
        />
        <img
          class="row-span-2 h-full"
          src="../assets/images/banner-image-3.png"
          alt="Banner image"
        />
        <img
          class="w-full pr-2 md:pr-4 pt-1 md:pt-2"
          src="../assets/images/banner-image-2.png"
          alt="Banner image"
        />
      </div>
      <div id="banner-section" class="mt-8">
        <div class="flex justify-between md:justify-center md:gap-x-5 mx-[34px] mb-10">
          <img src="../assets/images/linkedin-icon.png" alt="Linkedin Icon" />
          <img src="../assets/images/facebook-icon.png" alt="Facebook Icon" />
          <img src="../assets/images/instagram-icon.png" alt="Instagram Icon" />
          <img src="../assets/images/twitter-icon.png" alt="Twitter Icon" />
          <img src="../assets/images/google-icon.png" alt="Google Icon" />
          <img src="../assets/images/youtube-icon.png" alt="Youtube Icon" />
        </div>
      </div>