<div class="h-[42px] flex justify-around">
    <div class="flex items-center animate-carousel md:animate-tabletCarousel">
      <img
        class="h-full w-full mr-44px"
        src="../assets/images/entrepreneur-logo.png"
        alt="Entrepreneur Icon"
      />
      <img
        class="h-full w-full mr-44px"
        src="../assets/images/google-logo.png"
        alt="Google Icon"
      />
      <img
        class="h-full w-full mr-44px"
        src="../assets/images/facebook-marketing-partners-badge.png"
        alt="Facebook Icon"
      />
      <img
        class="h-full w-full mr-44px"
        src="../assets/images/meta-logo.png"
        alt="Meta Icon"
      />
      <img
        class="h-full w-full mr-44px"
        src="../assets/images/entrepreneur-logo.png"
        alt="Entrepreneur Icon"
      />
      <img
        class="h-full w-full mr-44px"
        src="../assets/images/google-logo.png"
        alt="Google Icon"
      />
      <img
        class="h-full w-full mr-44px"
        src="../assets/images/facebook-marketing-partners-badge.png"
        alt="Facebook Icon"
      />
      <img
        class="h-full w-full mr-44px"
        src="../assets/images/meta-logo.png"
        alt="Meta Icon"
      />
    </div>
  </div>