<img
  class="absolute left-0 z-0"
  src="./assets/images/company_shape.png.png"
  alt="Company shape"
/>
<div class="pt-[80.64px] pb-[64.56px] z-10">
  <span class="span-sub-title">Our Company</span>
  <h2 class="font-bold text-lg pt-[15px]">We Create Creative Designs For Every Web Page</h2>
  <p class="text-paragraphSecond leading-[27.2px]">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
    the industry's standard.
  </p>
</div>
<div>
  <div class="h-full relative pb-[70px]">
    <img src="./assets/images/company_img01.png.png" alt="Company image" />
    <img
      class="absolute -right-[15px] bottom-0"
      src="./assets/images/company_img02.png.png"
      alt="Company image"
    />
  </div>
  <div class="pt-[50px]">
    <h2 class="text-xxxl h2-gradient pb-[26px]">All Your Questions Are Here</h2>
    <ul class="company-list text-left pb-[59.3px]">
      <li>Seo quotes to inspire your campaign</li>
      <li>Much easier to double your business</li>
      <li>Free page speed insights tool to find out exactly</li>
      <li>Seo quotes to inspire your campaign</li>
    </ul>
  </div>
</div>
