<img class="animate-rotate ml-[34.36px]" src="../assets/images/project_shape01.png" alt="Shape" />
<img class="md:absolute left-[149.78px] bottom-[38.77px]" src="../assets/images/project_shape02.png.png" alt="Shape" />
<div class="text-center mx-[15px] md:mx-[24px]">
  <sup class="text-[#FF7012] sup-title">Our Expertise is Your Success</sup>
  <h2 class="text-xxl md:px-[24px]">Struggling to Make Engaging Content?</h2>
  <p class="content mb-9 mt-[26.19px] md:text-left md:px-15px text-paragraphFirst">
    From the research and planning to creating striking images and videos for your posts, our
    service focuses on creating a <u class="text-underline">unique voice</u> for your brand that
    will <u class="text-underline">engage your audience</u>
    and keep them coming back for more!
  </p>
</div>
<div class="swiper-container swiper-container-without-navigation pl-[15px] md:px-15px pb-[26.5px]">
  <div class="swiper-wrapper">
    <div class="swiper-slide swiper-slide-without-nav">
      <img src="../assets/images/home-insurance.png.png" alt="Home insurance" />
    </div>
    <div class="swiper-slide swiper-slide-without-nav">
      <img src="../assets/images/pistachio-madness.png.png" alt="Pistachio madness" />
    </div>
    <div class="swiper-slide swiper-slide-without-nav">
      <img src="../assets/images/reels.png" alt="Reels" />
    </div>
  </div>
</div>
<div id="view-more-button" class="mx-[15px] pb-[104.5px] md:pb-[97px]"></div>
