<img class="pb-[25px]" src="./assets/images/faq_img.png.png" alt="FAQ" />
<h2 class="text-xl text-left pb-5">All Your Questions Are Here</h2>
<h3 class="h2-gradient text-left text-[24px] leading-[28.8px] font-medium pt-[19.23px] pr-[19px]">
  & Knock Me Directly to Know More
</h3>
<p class="text-paragraphSecond text-left leading-[27.2px] pr-4">
  Lorem ipsum dolor sit amet, sed nulla ante amet, elementum tincidunt arcu sed laoreet, natoque ac
  eget imperdiet. Ac scelerisque nibh dolores consectetuer,
</p>
<div class="accordion pt-[50px]">
  <div class="accordion-item">
    <button class="accordion-button">What's the difference between Pro and Free?</button>
    <div class="accordion-content">
      <p>
        Lorem Ipsum Dolor Sit Amet, Sed Nulla Ante Amet, Elementum Tincidunt Arcu Sed Laoreet,
        Natoque Ac Eget Imperdiet. Ac Sclerisque Nibh Dolores Consectetuer,
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-button">What's the difference between Pro and Free?</button>
    <div class="accordion-content">
      <p>
        Lorem Ipsum Dolor Sit Amet, Sed Nulla Ante Amet, Elementum Tincidunt Arcu Sed Laoreet,
        Natoque Ac Eget Imperdiet. Ac Sclerisque Nibh Dolores Consectetuer,
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-button">What's the difference between Pro and Free?</button>
    <div class="accordion-content">
      <p>
        Lorem Ipsum Dolor Sit Amet, Sed Nulla Ante Amet, Elementum Tincidunt Arcu Sed Laoreet,
        Natoque Ac Eget Imperdiet. Ac Sclerisque Nibh Dolores Consectetuer,
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-button">What's the difference between Pro and Free?</button>
    <div class="accordion-content">
      <p>
        Lorem Ipsum Dolor Sit Amet, Sed Nulla Ante Amet, Elementum Tincidunt Arcu Sed Laoreet,
        Natoque Ac Eget Imperdiet. Ac Sclerisque Nibh Dolores Consectetuer,
      </p>
    </div>
  </div>
</div>
