<h2 class="text-lg pb-[24.18px]">Worldwide Best Digital Marketing Agency</h2>
<p class="text-paragraphSecond leading-[27.2px] pb-[48.23px]">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
  the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
  type and
</p>
<form id="form" class="bg-white py-[31px] px-[26px] rounded-[20px]" action="">
  <h4 class="text-2xl text-left pb-[25px] leading-[30px]">Free Consultation</h4>
  <input class="form-input" type="text" name="name" id="name" placeholder="Name" />
  <input class="form-input" type="email" name="email" id="email" placeholder="Email Address" />
  <input class="form-input" type="text" name="phone" id="phone" placeholder="Phone Number" />
  <div class="custom-select relative w-full flex items-center">
    <select class="appearance-none outline-none w-full h-full">
      <option>Subject</option>
      <option value="">Grow Followers</option>
      <option value="">Increase Leads</option>
      <option value="">Strengthen Engagement</option>
      <option value="">Built Brand Awareness</option>
      <option value="">Learn More About Social Media</option>
      <option value="">Basic Presence</option>
    </select>
    <div class="pointer-events-none absolute right-[22.5px] top-[22.8px]">
      <!-- Tutaj możesz umieścić własną ikonę strzałki -->
      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path
          d="M5.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.576 0 0.436 0.445 0.408 1.197 0 1.615l-4.695 4.502c-0.408 0.392-1.008 0.392-1.416 0l-4.695-4.502c-0.408-0.418-0.436-1.17 0-1.615z"
        />
      </svg>
    </div>
  </div>
</form>
