<img
  class="absolute z-0 right-[136.3px] bottom-[244.1px]"
  src="<%= require('./assets/images/download-guide.png.png') %>"
  alt="Download guide"
/>
<h2 class="text-[52.7px] leading-[42.2px] pb-[34.4px]">Accelerate</h2>
<h2 class="text-[#FF7012] text-[32.7px] leading-[26.1px] pb-[9px]">Your Social Strategy</h2>
<p class="text-[#2A2A2A] text-[20.1px] leading-[20.1px] pb-[56px]">
  Find out how to make social media work for you. We'll send you a PDF that explains different
  marketing strategies to help your business grow.
</p>
<div class="pb-[49px] relative z-10">
  <form class="pdf-form" action="">
    <input class="pdf-input" type="email" placeholder="Enter your e-mail address" />
    <button class="pdf-button">Download PDF</button>
  </form>
</div>
<p class="text-[12px] leading-[20.5px] text-[#bbb]">
  Upon supplying us with your e-mail, we will send you a link to download this PDF. We will also
  follow up with you within 5 days to see if there is any way we can help you and we'll sign you up
  to receive updated tips and tricks for growing your social media but don't worry, we only send
  this newsletter once a month, and you can easily unsubscribe from all communications at any time.
</p>
