<img src="../assets/images/logo.png" alt="Logo" />
<div class="flex items-center">
  <button
    class="hidden sm:block mr-10 text-[16px] leading-[16px] text-white py-[19px] px-[33px] bg-orangeDark rounded-[20px]"
  >
    Speak With Us!
  </button>
  <img
    class="h-[31px]"
    src="../assets/images/mobile-nav-toggler.png"
    alt="Mobile Nav Toggler"
    onclick="toggleMobileMenu()"
  />
</div>

<!-- Mobile Menu -->
<div
  id="mobileMenu"
  class="block fixed top-0 left-0 w-full bg-white z-50 translate-x-full transition-transform duration-300 ease-in"
>
  <nav class="flex flex-col h-screen text-[1rem] leading-6 font-medium text-menu text-left">
    <div class="flex justify-between py-[30px] px-[25px]">
      <img class="w-[126px]" src="../assets/images/logo.png" alt="Logo" />
      <img
        class="h-5 mt-[3px]"
        src="../assets/images/close-icon.png"
        alt="Close button"
        onclick="toggleMobileMenu()"
      />
    </div>
    <a class="py-[10px] pl-[25px] pr-0 border-t border-[#0000001a]" href="#management">Management</a>
    <a class="py-[10px] pl-[25px] pr-0 border-t border-[#0000001a]" href="#marketing">Marketing</a>
    <a class="py-[10px] pl-[25px] pr-0 border-t border-[#0000001a]" href="#increase-sales">Increase Sales</a>
    <a class="py-[10px] pl-[25px] pr-0 border-t border-[#0000001a]" href="services">Services</a>
    <a class="py-[10px] pl-[25px] pr-0 border-t border-[#0000001a] border-b" href="plans-and-pricing">Plans & Pricing</a>
  </nav>
</div>
