<div
  class="relative flex justify-center border-dashed border rounded-[40px] border-[#95BBD7] p-[45px] mx-[40px] mb-9"
>
  <img
    class="z-10"
    src="../assets/images/phone-message.png.png"
    alt="Phone message"
  />
  <img
    class="team-image -bottom-[35px] left-[34.36px]"
    src="../assets/images/heart-white-chat.png.png"
    alt="White heart chat"
  />
  <img
    class="team-image -right-[14px] bottom-[92.18px]"
    src="../assets/images/instagram.png.png"
    alt="Instagram icon"
  />
  <img
    class="team-image left-[27.69px] bottom-[92.46px]"
    src="../assets/images/facebook.png.png"
    alt="Facebook icon"
  />
  <img
    class="team-image -left-[13.11px] top-[39.9px]"
    src="../assets/images/notification-message.png.png"
    alt="Notification message"
  />
  <img
    class="team-image right-[56.59px] -top-[38px]"
    src="../assets/images/heart-red-chat.png.png"
    alt="Red heart chat"
  />
  <img
    class="rotating-element absolute right-[26.89px] top-0 w-[67px] h-max z-0"
    src="../assets/images/team_shape01.png.png"
    alt="Shape"
  />
</div>
<div class="pt-[60px] pb-[39.65px] mx-[15px] text-center">
  <span class="span-sub-title">Worry-Free</span>
  <h2 class="font-bold text-lg pt-[15px]">Risking Your Reputation and Losing Sales?</h2>
  <p class="paragraph-text mt-[23.17px] text-paragraphFirst">
    Our 24/7 Inbox Management is your answer to keep up with messages and not miss out on potential
    leads.
  </p>
  <p class="paragraph-text mt-[16.92px] text-paragraphFirst">
    By offering <u class="text-underline">quick replies</u> to your audience you will elevate your
    <u class="text-underline">brands image</u> and help you
    <u class="text-underline">get the sale</u>
  </p>
</div>
