<img
  class="absolute left-[19px] md:left-[222.72px] top-[706.9px] md:top-[321.85px] z-0 md:h-[275px] md:w-[293px]"
  src="../assets/images/exclamation.png.png"
  alt="Exclamation"
/>
<img
  class="hidden md:absolute md:left-[46.08px] top-[105.08px] z-0"
  src="../assets/images/blue-circle.png.png"
  alt="Monster"
/>
<div class="pb-[39.65px] text-center relative z-10">
  <img class="mx-auto w-full max-w-[690px] md:px-[123px] pb-[50px]" src="../assets/images/social-trolls.png.png" alt="Social Trolls" />
  <span class="span-sub-title">Keeping You Covered</span>
  <h2 class="font-bold text-lg pt-[15px] md:text-[45px] md:leading-[54px]">Social Gossiping Slowing You Down?</h2>
  <p class="content mt-[29.6px] text-paragraphFirst">
    Staying on top of how your brand is being used is an important aspect to
    <u class="text-underline">protect your identity and reputation</u>.
  </p>
  <p class="content mt-[16.92px] text-paragraphFirst">
    Our sophisticated <u class="text-underline">threat monitoring</u> system enables us to
    <u class="text-underline">quickly identify threats</u> towards your brand and deal with them to
    <u class="text-underline">prevent damage</u> to your reputation.
  </p>
  <p class="content mt-[15px] mb-[16.39px] text-paragraphFirst">
    The most common threats we encounter:
  </p>
  <div id="social-trolls-threats" class="flex flex-wrap justify-center md:px-15px"></div>
</div>
