<img class="" src="./assets/images/social-trolls.png.png" alt="Social Trolls" />
<img
  class="absolute left-[19px] top-[706.9px] z-0"
  src="./assets/images/exclamation.png.png"
  alt="Exclamation"
/>
<div class="pt-[50px] pb-[39.65px] text-center relative z-10">
  <span class="span-sub-title">Keeping You Covered</span>
  <h2 class="font-bold text-lg pt-[15px]">Social Gossiping Slowing You Down?</h2>
  <p class="paragraph-text mt-[29.6px] text-paragraphFirst">
    Staying on top of how your brand is being used is an important aspect to
    <u class="text-underline">protect your identity and reputation</u>.
  </p>
  <p class="paragraph-text mt-[16.92px] text-paragraphFirst">
    Our sophisticated <u class="text-underline">threat monitoring</u> system enables us to
    <u class="text-underline">quickly identify threats</u> towards your brand and deal with them to
    <u class="text-underline">prevent damage</u> to your reputation.
  </p>
  <p class="paragraph-text mt-[15px] mb-[16.39px] text-paragraphFirst">
    The most common threats we encounter:
  </p>
  <div id="social-trolls-threats" class="flex flex-wrap justify-center"></div>
</div>
