<div class="flex flex-col md:h-max md:flex-row md:flex-wrap items-center justify-center py-7 ">
  <div
    class="stat-card md:mt-20"
  >
    <span class="stat-number text-[#F76766]" data-value="252">0</span>
    <p class="text-[#6b645d] text-[16px] z-10">Offices</p>
    <img
      class="absolute bottom-0 left-0"
      src="../assets/images/office-icon.png"
      alt="Office Icon"
    />
  </div>
  <div
    class="stat-card md:-translate-y-[32.5px]"
  >
    <span class="stat-number text-[#265FDB]" data-value="10">0</span>
    <p class="text-[#6b645d] text-[16px] z-10">Workers</p>
    <img
      class="absolute bottom-0 right-0"
      src="../assets/images/workers-icon.png"
      alt="Workers Icon"
    />
  </div>
  <div
    class="stat-card "
  >
    <div class="z-20">
      <span class="stat-number text-[#57C0CE]" data-value="15">0</span
      ><span class="stat-number text-[#57C0CE]">K</span>
    </div>
    <p class="text-[#6b645d] text-[16px] z-10">Customers</p>
    <img
      class="absolute bottom-0 left-0"
      src="../assets/images/customers-icon.png"
      alt="Customers Icon"
    />
  </div>
  <div
    class="stat-card md:-translate-y-[65px]"
  >
    <div class="z-20">
      <span class="stat-number text-[#A666F7]" data-value="1300">0</span
      ><span class="stat-number text-[#A666F7]">+</span>
    </div>
    <p class="text-[#6b645d] text-[16px] z-10">Projects</p>
    <img
      class="absolute bottom-0 left-0"
      src="../assets/images/projects-icon.png"
      alt="Projects Icon"
    />
  </div>
</div>
<div id="stats-section" class="mt-[50px] text-center">
  <div class="text-white h2-title">
    <sup class="text-[#FFD437] sup-title"> Social Media Management is </sup>
    <h2 class="text-xxl">Building Brands</h2>
    <h2 class="text-xxl">Creating Connections</h2>
    <h2 class="text-xxl">Driving Sales</h2>
  </div>
  <div class="content text-[#BBBBBB] mt-7 mb-[15.54px]">
    <p class="mb-[15px]">
      Social Media is <em>more than just posting</em> and showing off how many followers you have.
      It's a valuable addition to your marketing strategy that <u>builds trust</u> and
      <u>creates connections</u> with potential customers to <u>drive sales</u> and
      <u>increase your revenue.</u>
    </p>
    <p class="mb-[15px]">
      Save your time and money by partnering with us and start seeing results that give you the
      <u>highest return on investment.</u>
    </p>
    <p>After all; when you grow, we grow together.</p>
  </div>
  <div class="md:pt-[36.01px] pb-[63.88px] md:pb-[120px] md:flex md:justify-center md:items-center">
    <div id="stats-button"></div>
    <p class="text-[#3486FA] text-center md:ml-[38.21px] leading-[26.8px] pt-[24.85px] md:pt-0">How We Can Help</p>
  </div>
</div>

