<img class="" src="<%= require('./assets/images/success_img.png.png') %>" alt="Success" />
      <div class="pt-[50px] text-left">
        <span class="span-sub-title">Thinking "Outside the box"</span>
        <h2 class="m-0 font-bold text-xl pt-[15px]">Troubles Growing Your Audience?</h2>
        <p class="mt-[29px] paragraph-text text-paragraphFirst">
          <u class="text-underline">Attract new followers</u> that are relevant to your objectives
          by reaching <u class="text-underline"> outside your social media </u> bubble, and you'll
          start to see a <u class="text-underline">quicker return on your investment</u>.
        </p>
        <p class="my-[35px] paragraph-text text-paragraphFirst">
          Along with <u class="text-underline">captivating visuals</u>, our teams perform countless
          <u class="text-underline">hours of research and planning</u> to deliver
          <u class="text-underline">optimized marketing campaigns</u> that target your
          <u class="text-underline">ideal audience</u> who are most likely to
          <u class="text-underline">convert into leads</u>.
        </p>
        <p class="paragraph-text text-paragraphFirst mt-[35px] mb-[36px]">
          By thoroughly planning your paid
          <u class="text-underline">Social Media Advertising</u> campaign, we are able to ensure
          that every penny of your <u class="text-underline">marketing budget is well spent</u>.
        </p>
      </div>