<h2 class="text-xl pb-[30px]">Meet The Squad</h2>
<p class="text-paragraphSecond leading-[27.2px] pb-[49.75px]">
  Lorem ipsum dolor sit amet, sed nulla ante amet, elementum tincidunt arcu sed laoreet, natoque ac
  eget imperdiet. Ac scelerisque nibh dolores
</p>
<div class="swiper-container swiper-container-with-pagination">
  <div class="swiper-wrapper">
    <div class="swiper-slide swiper-silde-pagination">
      <img src="<%= require('./assets/images/inner_team03.jpg.png') %>" alt="Inner team" />
      <div class="swiper-silde-pagination__content">
        <h2 class="text-sm">Ryan Vetrovs</h2>
        <span>CEO Kawasaki Inc.</span>
      </div>
    </div>
    <div class="swiper-slide swiper-silde-pagination">
      <img src="<%= require('./assets/images/inner_team04.jpg.png') %>" alt="Inner team" />
      <div class="swiper-silde-pagination__content">
        <h2 class="text-sm">Emerson Saris</h2>
        <span>CEO Kawasaki Inc.</span>
      </div>
    </div>
    <div class="swiper-slide swiper-silde-pagination">
      <img src="<%= require('./assets/images/inner_team05.jpg.png') %>" alt="Inner team" />
      <div class="swiper-silde-pagination__content">
        <h2 class="text-sm">Lindsey Schleifer</h2>
        <span>CEO Kawasaki Inc.</span>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
