<div class="pb-10">
  <img
    class="pb-[33.61px] mx-auto"
    src="./assets/images/logo-footer.png"
    alt="Logo"
  />
  <span class="text-[16px] leading-[27.2px] pb-[8px]">For Support</span>
  <h2 class="text-[20px] leading-6 text-white">0123 - 567 - 7650</h2>
</div>
<div class="pb-5">
  <h4 class="font-bold text-[20px] leading-6 pb-4 text-white">Primary Pages</h4>
  <ul class="text-[15px] leading-[25.5px]">
    <li class="mb-[10px]"><a href="/">Home</a></li>
    <li class="mb-[10px]"><a href="/about">About</a></li>
    <li class="mb-[10px]"><a href="/contact">Contact</a></li>
    <li><a href="/service">Service</a></li>
  </ul>
</div>
<div class="pb-5">
  <h4 class="font-bold text-[20px] leading-6 pb-4 text-white">Quick Access</h4>
  <ul class="text-[15px] leading-[25.5px]">
    <li class="mb-[10px]"><a href="/about">About</a></li>
    <li class="mb-[10px]"><a href="/pricing">Pricing</a></li>
    <li class="mb-[10px]"><a href="/contact">Contact</a></li>
    <li><a href="/demo">Request for Demo</a></li>
  </ul>
</div>
<div class="pb-10">
  <h4 class="font-bold text-[20px] leading-6 pb-[30px] text-white">Company</h4>
  <ul class="text-[15px] leading-[25.5px]">
    <li class="mb-[25px] flex justify-center">
      <img
        class="mr-[13px] h-6"
        src="./assets/images/phone-call-01.png"
        alt="Phone"
      />8 (495) 989—20—11
    </li>
    <li class="mb-[25px] flex justify-center">
      <img
        class="mr-[13px] h-6"
        src="./assets/images/mail-02.png"
        alt="Email"
      />contact@socialseal.com
    </li>
    <li class="flex justify-center">
      <img
        class="mr-[13px] h-6"
        src="./assets/images/marker-pin-04.png"
        alt="Pin"
      />Ranelagh Place, Liverpool, L3 5UL, England
    </li>
  </ul>
</div>
