<div class="px-[15px]">
  <span class="span-sub-title">Visually Impressive</span>
  <h2 class="m-0 font-bold text-xl pt-[15px] pb-[70px] text-white">
    We Can't Wait To Redefine Your Brand
  </h2>
</div>

<div class="swiper-container swiper-container-with-navigation">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="<%= require('./assets/images/image 4.png') %>" alt="1" />
      <img src="<%= require('./assets/images/SMM Meme - IG 3.png') %>" alt="5" />
    </div>

    <div class="swiper-slide">
      <img src="<%= require('./assets/images/SMM Meme - IG 2.png') %>" alt="2" />
      <img src="<%= require('./assets/images/image 3.png') %>" alt="6" />
    </div>
    <div class="swiper-slide">
      <img src="<%= require('./assets/images/image 5.png') %>" alt="3" />
      <img src="<%= require('./assets/images/pistachio-madness.png.png') %>" alt="7" />
    </div>
    <div class="swiper-slide">
      <img src="<%= require('./assets/images/SMM Meme - IG 4.png') %>" alt="4" />
      <img src="<%= require('./assets/images/image 7.png') %>" alt="8" />
    </div>
  </div>
  <div class="pt-[23px] pb-[24px] relative flex items-start justify-center">
    <h2 class="font-bold text-base text-white text-center">What Are You Waiting For?</h2>
    <div class="relative w-max justify-center hidden">
      <div class="swiper-button-prev block swiper-button -left-[10px]">
        <img class="" src="<%= require('./assets/images/chevron-down.png') %>" alt="Chevron left" />
      </div>
      <div class="swiper-button-next block swiper-button right-0">
        <img src="<%= require('./assets/images/chevron-up.png') %>" alt="Chevron right" />
      </div>
    </div>
  </div>
</div>
<div id="visually-impressive__button" class="px-[15px]"></div>
