<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      class="flex z-20 justify-between fixed w-full items-center py-5 px-[15px] header bg-white"
    >
      <img class="" src="<%= require('./assets/images/logo.png') %>" alt="Logo" />
      <img
  class="h-[31px] mobile-nav-toggler"
  src="<%= require('./assets/images/mobile-nav-toggler.png') %>"
  alt="Mobile Nav Toggler"
  onclick="toggleMobileMenu()"
/>

<!-- Mobile Menu -->
<div id="mobileMenu" class="mobile-menu hidden">
  <nav class="flex flex-col h-screen text-base font-medium text-[#0B0B0B]">
    <div class="flex justify-between py-[30px] px-[25px]">
      <img class="w-[126px]" src="<%= require('./assets/images/logo.png') %>" alt="Logo" />
      <img class="h-5 mt-[3px]" src="<%= require('./assets/images/close-icon.png') %>" alt="Close button" onclick="toggleMobileMenu()"/>
    </div>
    <a class="mobile-menu-link" href="#management">Management</a>
    <a class="mobile-menu-link" href="#marketing">Marketing</a>
    <a class="mobile-menu-link" href="#increase-sales">Increase Sales</a>
    <a class="mobile-menu-link" href="services">Services</a>
    <a class="mobile-menu-link border-b" href="plans-and-pricing">Plans & Pricing</a>
  </nav>
</div>
    </header>

    <section class="banner relative pt-7">
      <img
        class="absolute z-10 left-2 bottom-[76px]"
        src="<%= require('./assets/images/banner_shape05.png') %>"
        alt="Banner shape"
      />
      <div class="text-center banner-content">
        <button class="banner-content__button">Social Media Marketing That Works</button>
        <h2 class="banner-content__heading mt-5">Save Time</h2>
        <h2 class="banner-content__heading my-4">Build Connections</h2>
        <h2 class="banner-content__heading mb-8">Increase Profits</h2>
      </div>
      <div class="grid grid-cols-2 grid-rows-2 mx-[15px]">
        <img
          class="w-full pr-2 pb-1"
          src="<%= require('./assets/images/banner-image-1.png') %>"
          alt="Banner image"
        />
        <img
          class="row-span-2 h-full"
          src="<%= require('./assets/images/banner-image-3.png') %>"
          alt="Banner image"
        />
        <img
          class="w-full pr-2 pt-1"
          src="<%= require('./assets/images/banner-image-2.png') %>"
          alt="Banner image"
        />
      </div>
      <div id="banner-section" class="mx-[15px] mt-8">
        <div class="flex justify-between mx-[34px]">
          <img src="<%= require('./assets/images/linkedin-icon.png') %>" alt="Linkedin Icon" />
          <img src="<%= require('./assets/images/facebook-icon.png') %>" alt="Facebook Icon" />
          <img src="<%= require('./assets/images/instagram-icon.png') %>" alt="Instagram Icon" />
          <img src="<%= require('./assets/images/twitter-icon.png') %>" alt="Twitter Icon" />
          <img src="<%= require('./assets/images/google-icon.png') %>" alt="Google Icon" />
          <img src="<%= require('./assets/images/youtube-icon.png') %>" alt="Youtube Icon" />
        </div>
      </div>
    </section>
    <!-- Brand area -->
    <div
      id="brand-area-carousel"
      class="bg-[#1D1D25] logo-carousel translate-y-[80.68px] flex mx-[15px] py-[62.5px] relative mt-[9.32px] rounded-[20px]"
    >
      <div class=" h-[42px] flex justify-around">

        <div class="logo-images">
          <img
          class="h-full w-full"
            src="<%= require('./assets/images/entrepreneur-logo.png') %>"
            alt="Entrepreneur Icon"
          />
          <img class="h-full w-full" src="<%= require('./assets/images/google-logo.png') %>" alt="Google Icon" />
          <img
          class="h-full w-full"
            src="<%= require('./assets/images/facebook-marketing-partners-badge.png') %>"
            alt="Facebook Icon"
          />
          <img class="h-full w-full" src="<%= require('./assets/images/meta-logo.png') %>" alt="Meta Icon" />
          <img
          class="h-full w-full"
            src="<%= require('./assets/images/entrepreneur-logo.png') %>"
            alt="Entrepreneur Icon"
          />
          <img class="h-full w-full" src="<%= require('./assets/images/google-logo.png') %>" alt="Google Icon" />
          <img
          class="h-full w-full"
            src="<%= require('./assets/images/facebook-marketing-partners-badge.png') %>"
            alt="Facebook Icon"
          />
          <img class="h-full w-full" src="<%= require('./assets/images/meta-logo.png') %>" alt="Meta Icon" />
        </div>

      </div>
    </div>

    <section class="bg-[#292F3E] px-[15px] pt-[144.78px]">
      <div class="flex flex-col items-center justify-center py-7">
        <div class="stat-card">
          <span class="stat-number text-[#F76766]">252</span>
          <p class="stat-text">Offices</p>
          <img
            class="left-0"
            src="<%= require('./assets/images/office-icon.png') %>"
            alt="Office Icon"
          />
        </div>
        <div class="stat-card">
          <span class="stat-number text-[#265FDB]">10</span>
          <p class="stat-text">Workers</p>
          <img
            class="right-0"
            src="<%= require('./assets/images/workers-icon.png') %>"
            alt="Workers Icon"
          />
        </div>
        <div class="stat-card">
          <div class="z-20">
            <span class="stat-number text-[#57C0CE]">15</span
            ><span class="stat-number text-[#57C0CE]">K</span>
          </div>
          <p class="stat-text">Customers</p>
          <img
            class="left-0"
            src="<%= require('./assets/images/customers-icon.png') %>"
            alt="Customers Icon"
          />
        </div>
        <div class="stat-card">
          <div class="z-20">
            <span class="stat-number text-[#A666F7]">1300</span
            ><span class="stat-number text-[#A666F7]">+</span>
          </div>
          <p class="stat-text">Projects</p>
          <img
            class="left-0"
            src="<%= require('./assets/images/projects-icon.png') %>"
            alt="Projects Icon"
          />
        </div>
      </div>
      <div id="stats-section" class="mt-[50px] text-center">
        <div class="text-white h2-title">
          <sup class="text-[#FFD437] sup-title"> Social Media Management is </sup>
          <h2>Building<br />Brands</h2>
          <h2>Creating Connections</h2>
          <h2>Driving Sales</h2>
        </div>
        <div class="paragraph-text text-[#BBBBBB] mt-7">
          <p class="mb-[15px]">
            Social Media is <em>more than just posting</em> and showing off how many followers you
            have. It's a valuable addition to your marketing strategy that <u>builds trust</u> and
            <u>creates connections</u> with potential customers to <u>drive sales</u> and
            <u>increase your revenue.</u>
          </p>
          <p class="mb-[15px]">
            Save your time and money by partnering with us and start seeing results that give you
            the <u>highest return on investment.</u>
          </p>
          <p>After all; when you grow, we grow together.</p>
        </div>
      </div>
      <p class="text-[#3486FA] text-center leading-[26.8px] pt-[24.85px] pb-[63.88px]">
        How We Can Help
      </p>
    </section>

    <section class="mt-[29px]">
      <img
        class="rotating-element ml-[34.36px]"
        src="<%= require('./assets/images/project_shape01.png') %>"
        alt="Shape"
      />
      <div class="text-center mx-[15px]">
        <sup class="text-[#FF7012] sup-title">Our Expertise is Your Success</sup>
        <h2 class="h2-title">Struggling to Make Engaging Content?</h2>
        <p class="paragraph-text mt-[26.19px] text-[#727272]">
          From the research and planning to
creating striking images and videos
for your posts, our service focuses on
creating a <u class="text-[#191919]">unique voice</u> for your
brand that will <u class="text-[#191919]">engage your audience</u>
and keep them coming back for
more!
        </p>
      </div>
      
    </section>

    <div id="root"></div>
  </body>
</html>
