<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header -->
    <header class="header container py-5">
      <img src="<%= require('./assets/images/logo.png') %>" alt="Logo" />
      <img
        class="h-[31px]"
        src="<%= require('./assets/images/mobile-nav-toggler.png') %>"
        alt="Mobile Nav Toggler"
        onclick="toggleMobileMenu()"
      />

      <!-- Mobile Menu -->
      <div id="mobileMenu" class="mobile-menu hidden">
        <nav class="mobile-menu-nav">
          <div class="mobile-menu-nav-container py-[30px] px-[25px]">
            <img class="w-[126px]" src="<%= require('./assets/images/logo.png') %>" alt="Logo" />
            <img
              class="h-5 mt-[3px]"
              src="<%= require('./assets/images/close-icon.png') %>"
              alt="Close button"
              onclick="toggleMobileMenu()"
            />
          </div>
          <a class="mobile-menu-nav__link" href="#management">Management</a>
          <a class="mobile-menu-nav__link" href="#marketing">Marketing</a>
          <a class="mobile-menu-nav__link" href="#increase-sales">Increase Sales</a>
          <a class="mobile-menu-nav__link" href="services">Services</a>
          <a class="mobile-menu-nav__link border-b" href="plans-and-pricing">Plans & Pricing</a>
        </nav>
      </div>
    </header>

    <!-- Banner section -->
    <section class="banner pt-7 container">
      <img
        class="absolute z-10 left-2 bottom-[76px]"
        src="<%= require('./assets/images/banner_shape05.png') %>"
        alt="Banner shape"
      />
      <div>
        <button class="banner__button">Social Media Marketing That Works</button>
        <h2 class="mt-5">Save Time</h2>
        <h2 class="my-4">Build Connections</h2>
        <h2 class="mb-8">Increase Profits</h2>
      </div>
      <div class="grid grid-cols-2 grid-rows-2">
        <img
          class="w-full pr-2 pb-1"
          src="<%= require('./assets/images/banner-image-1.png') %>"
          alt="Banner image"
        />
        <img
          class="row-span-2 h-full"
          src="<%= require('./assets/images/banner-image-3.png') %>"
          alt="Banner image"
        />
        <img
          class="w-full pr-2 pt-1"
          src="<%= require('./assets/images/banner-image-2.png') %>"
          alt="Banner image"
        />
      </div>
      <div id="banner-section" class="mx-[15px] mt-8">
        <div class="flex justify-between mx-[34px] mb-10">
          <img src="<%= require('./assets/images/linkedin-icon.png') %>" alt="Linkedin Icon" />
          <img src="<%= require('./assets/images/facebook-icon.png') %>" alt="Facebook Icon" />
          <img src="<%= require('./assets/images/instagram-icon.png') %>" alt="Instagram Icon" />
          <img src="<%= require('./assets/images/twitter-icon.png') %>" alt="Twitter Icon" />
          <img src="<%= require('./assets/images/google-icon.png') %>" alt="Google Icon" />
          <img src="<%= require('./assets/images/youtube-icon.png') %>" alt="Youtube Icon" />
        </div>
      </div>
    </section>
    <!-- Brand area -->
    <div
      id="brand-area-carousel"
      class="bg-[#1D1D25] logo-carousel translate-y-[80.68px] flex mx-[15px] py-[62.5px] relative mt-[9.32px] rounded-[20px]"
    >
      <div class="h-[42px] flex justify-around">
        <div class="logo-images">
          <img
            class="h-full w-full"
            src="<%= require('./assets/images/entrepreneur-logo.png') %>"
            alt="Entrepreneur Icon"
          />
          <img
            class="h-full w-full"
            src="<%= require('./assets/images/google-logo.png') %>"
            alt="Google Icon"
          />
          <img
            class="h-full w-full"
            src="<%= require('./assets/images/facebook-marketing-partners-badge.png') %>"
            alt="Facebook Icon"
          />
          <img
            class="h-full w-full"
            src="<%= require('./assets/images/meta-logo.png') %>"
            alt="Meta Icon"
          />
          <img
            class="h-full w-full"
            src="<%= require('./assets/images/entrepreneur-logo.png') %>"
            alt="Entrepreneur Icon"
          />
          <img
            class="h-full w-full"
            src="<%= require('./assets/images/google-logo.png') %>"
            alt="Google Icon"
          />
          <img
            class="h-full w-full"
            src="<%= require('./assets/images/facebook-marketing-partners-badge.png') %>"
            alt="Facebook Icon"
          />
          <img
            class="h-full w-full"
            src="<%= require('./assets/images/meta-logo.png') %>"
            alt="Meta Icon"
          />
        </div>
      </div>
    </div>

    <section class="bg-[#292F3E] container pt-[144.78px]">
      <div class="flex flex-col items-center justify-center py-7">
        <div class="stat-card">
          <span class="stat-number text-[#F76766]">252</span>
          <p class="stat-text">Offices</p>
          <img
            class="left-0"
            src="<%= require('./assets/images/office-icon.png') %>"
            alt="Office Icon"
          />
        </div>
        <div class="stat-card">
          <span class="stat-number text-[#265FDB]">10</span>
          <p class="stat-text">Workers</p>
          <img
            class="right-0"
            src="<%= require('./assets/images/workers-icon.png') %>"
            alt="Workers Icon"
          />
        </div>
        <div class="stat-card">
          <div class="z-20">
            <span class="stat-number text-[#57C0CE]">15</span
            ><span class="stat-number text-[#57C0CE]">K</span>
          </div>
          <p class="stat-text">Customers</p>
          <img
            class="left-0"
            src="<%= require('./assets/images/customers-icon.png') %>"
            alt="Customers Icon"
          />
        </div>
        <div class="stat-card">
          <div class="z-20">
            <span class="stat-number text-[#A666F7]">1300</span
            ><span class="stat-number text-[#A666F7]">+</span>
          </div>
          <p class="stat-text">Projects</p>
          <img
            class="left-0"
            src="<%= require('./assets/images/projects-icon.png') %>"
            alt="Projects Icon"
          />
        </div>
      </div>
      <div id="stats-section" class="mt-[50px] text-center">
        <div class="text-white h2-title">
          <sup class="text-[#FFD437] sup-title"> Social Media Management is </sup>
          <h2 class="stats-section__heading">Building<br />Brands</h2>
          <h2 class="stats-section__heading">Creating Connections</h2>
          <h2 class="stats-section__heading">Driving Sales</h2>
        </div>
        <div class="paragraph-text text-[#BBBBBB] mt-7 mb-[15.54px]">
          <p class="mb-[15px]">
            Social Media is <em>more than just posting</em> and showing off how many followers you
            have. It's a valuable addition to your marketing strategy that <u>builds trust</u> and
            <u>creates connections</u> with potential customers to <u>drive sales</u> and
            <u>increase your revenue.</u>
          </p>
          <p class="mb-[15px]">
            Save your time and money by partnering with us and start seeing results that give you
            the <u>highest return on investment.</u>
          </p>
          <p>After all; when you grow, we grow together.</p>
        </div>
      </div>
      <p class="text-[#3486FA] text-center leading-[26.8px] pt-[24.85px] pb-[63.88px]">
        How We Can Help
      </p>
    </section>

    <section class="mt-[29px]">
      <img
        class="rotating-element ml-[34.36px]"
        src="<%= require('./assets/images/project_shape01.png') %>"
        alt="Shape"
      />
      <div class="text-center mx-[15px]">
        <sup class="text-[#FF7012] sup-title">Our Expertise is Your Success</sup>
        <h2 class="h2-title">Struggling to Make Engaging Content?</h2>
        <p class="paragraph-text mb-9 mt-[26.19px] text-[#727272]">
          From the research and planning to creating striking images and videos for your posts, our
          service focuses on creating a <u class="text-[#191919]">unique voice</u> for your brand
          that will <u class="text-[#191919]">engage your audience</u>
          and keep them coming back for more!
        </p>
      </div>
      <div class="swiper-container swiper-container-without-navigation pl-[15px]">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="<%= require('./assets/images/home-insurance.png.png') %>"
              alt="Home insurance"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="<%= require('./assets/images/pistachio-madness.png.png') %>"
              alt="Pistachio madness"
            />
          </div>
          <div class="swiper-slide">
            <img src="<%= require('./assets/images/reels.png') %>" alt="Reels" />
          </div>
          <div class="swiper-slide">
            <img
              src="<%= require('./assets/images/home-insurance.png.png') %>"
              alt="Home insurance again"
            />
          </div>
        </div>
      </div>
      <div id="view-more-button" class="mx-[15px] pb-[104.5px] mt-[26.5px]"></div>
    </section>

    <section id="team" class="pt-[66px] mx-[15px] pb-[120px]">
      <div
        class="relative flex justify-center border-dashed border rounded-[40px] border-[#95BBD7] p-[45px] mx-[40px] mb-9"
      >
        <img
          class="z-10"
          src="<%= require('./assets/images/phone-message.png.png') %>"
          alt="Phone message"
        />
        <img
          class="team-image -bottom-[35px] left-[34.36px]"
          src="<%= require('./assets/images/heart-white-chat.png.png') %>"
          alt="White heart chat"
        />
        <img
          class="team-image -right-[14px] bottom-[92.18px]"
          src="<%= require('./assets/images/instagram.png.png') %>"
          alt="Instagram icon"
        />
        <img
          class="team-image left-[27.69px] bottom-[92.46px]"
          src="<%= require('./assets/images/facebook.png.png') %>"
          alt="Facebook icon"
        />
        <img
          class="team-image -left-[13.11px] top-[39.9px]"
          src="<%= require('./assets/images/notification-message.png.png') %>"
          alt="Notification message"
        />
        <img
          class="team-image right-[56.59px] -top-[38px]"
          src="<%= require('./assets/images/heart-red-chat.png.png') %>"
          alt="Red heart chat"
        />
        <img
          class="rotating-element absolute right-[26.89px] top-0 w-[67px] h-max z-0"
          src="<%= require('./assets/images/team_shape01.png.png') %>"
          alt="Shape"
        />
      </div>
      <div class="pt-[60px] pb-[39.65px] mx-[15px] text-center">
        <span class="span-sub-title">Worry-Free</span>
        <h2 class="font-bold text-[32px] pt-[15px] leading-[38.4px]">
          Risking Your Reputation and Losing Sales?
        </h2>
        <p class="paragraph-text mt-[23.17px] text-[#727272]">
          Our 24/7 Inbox Management is your answer to keep up with messages and not miss out on
          potential leads.
        </p>
        <p class="paragraph-text mt-[16.92px] text-[#727272]">
          By offering <u class="text-[#191919]">quick replies</u> to your audience you will elevate
          your <u class="text-[#191919]">brands image</u> and help you
          <u class="text-[#191919]">get the sale</u>
        </p>
      </div>
    </section>

    <section id="success" class="container">
      <img class="" src="<%= require('./assets/images/success_img.png.png') %>" alt="Success" />
      <div class="pt-[50px] text-left">
        <span class="span-sub-title">Thinking "Outside the box"</span>
        <h2 class="m-0 font-bold text-[35px] leading-[42px] pt-[15px]">
          Troubles Growing Your Audience?
        </h2>
        <p class="mt-[29px] paragraph-text text-[#727272]">
          <u class="text-[#191919]">Attract new followers</u> that are relevant to your objectives
          by reaching <u class="text-[#191919]"> outside your social media </u> bubble, and you'll
          start to see a <u class="text-[#191919]">quicker return on your investment</u>.
        </p>
        <p class="my-[35px] paragraph-text text-[#727272]">
          Along with <u class="text-[#191919]">captivating visuals</u>, our teams perform countless
          <u class="text-[#191919]">hours of research and planning</u> to deliver
          <u class="text-[#191919]">optimized marketing campaigns</u> that target your
          <u class="text-[#191919]">ideal audience</u> who are most likely to
          <u class="text-[#191919]">convert into leads</u>.
        </p>
        <p class="paragraph-text text-[#727272] mt-[35px] mb-[36px]">
          By thoroughly planning your paid
          <u class="text-[#191919]">Social Media Advertising</u> campaign, we are able to ensure
          that every penny of your <u class="text-[#191919]">marketing budget is well spent</u>.
        </p>
      </div>
    </section>

    <section id="social-trolls" class="container pb-[69.53px]">
      <img
        class=""
        src="<%= require('./assets/images/social-trolls.png.png') %>"
        alt="Social Trolls"
      />
      <div class="pt-[50px] pb-[39.65px] text-center">
        <span class="span-sub-title">Keeping You Covered</span>
        <h2 class="font-bold text-[32px] pt-[15px] leading-[38.4px]">
          Social Gossiping Slowing You Down?
        </h2>
        <p class="paragraph-text mt-[29.6px] text-[#727272]">
          Staying on top of how your brand is being used is an important aspect to
          <u class="text-[#191919]">protect your identity and reputation</u>.
        </p>
        <p class="paragraph-text mt-[16.92px] text-[#727272]">
          Our sophisticated <u class="text-[#191919]">threat monitoring</u> system enables us to
          <u class="text-[#191919]">quickly identify threats</u> towards your brand and deal with
          them to <u class="text-[#191919]">prevent damage</u> to your reputation.
        </p>
        <p class="paragraph-text mt-[15px] mb-[16.39px] text-[#727272]">
          The most common threats we encounter:
        </p>
        <div id="social-trolls-threats" class="flex flex-wrap justify-center"></div>
      </div>
    </section>

    <section id="visually-impressive" class="bg-[#292F3E] pt-[120px] pb-[35px] text-center">
      <div class="container">
        <span class="span-sub-title">Visually Impressive</span>
        <h2 class="m-0 font-bold text-[35px] leading-[42px] pt-[15px] pb-[70px] text-white">
          We Can't Wait To Redefine Your Brand
        </h2>
      </div>

      <div class="swiper-container swiper-container-with-navigation">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="<%= require('./assets/images/image 4.png') %>" alt="1" />
            <img src="<%= require('./assets/images/SMM Meme - IG 3.png') %>" alt="5" />
          </div>

          <div class="swiper-slide">
            <img src="<%= require('./assets/images/SMM Meme - IG 2.png') %>" alt="2" />
            <img src="<%= require('./assets/images/image 3.png') %>" alt="6" />
          </div>
          <div class="swiper-slide">
            <img src="<%= require('./assets/images/image 5.png') %>" alt="3" />
            <img src="<%= require('./assets/images/pistachio-madness.png.png') %>" alt="7" />
          </div>
          <div class="swiper-slide">
            <img src="<%= require('./assets/images/SMM Meme - IG 4.png') %>" alt="4" />
            <img src="<%= require('./assets/images/image 7.png') %>" alt="8" />
          </div>
        </div>
        <div class="pt-[23px] pb-[24px] relative flex items-start justify-center">
          <h2 class="font-bold text-2xl leading-[33px] text-white text-center">
            What Are You Waiting For?
          </h2>
          <div class="relative w-max justify-center hidden">
            <div class="swiper-button-prev block swiper-button -left-[10px]">
              <img
                class=""
                src="<%= require('./assets/images/chevron-down.png') %>"
                alt="Chevron left"
              />
            </div>
            <div class="swiper-button-next block swiper-button right-0">
              <img src="<%= require('./assets/images/chevron-up.png') %>" alt="Chevron right" />
            </div>
          </div>
        </div>
      </div>
      <div id="visually-impressive__button" class="container"></div>
    </section>

    <section id="company" class="pt-[86.84px] pb-[80.83px] container">
      <img
        class="absolute left-0 z-0"
        src="<%= require('./assets/images/company_shape.png.png') %>"
        alt="Company shape"
      />
      <div class="pt-[80.64px] pb-[64.56px] z-10">
        <span class="span-sub-title">Our Company</span>
        <h2 class="font-bold text-[32px] pt-[15px] leading-[38.4px]">
          We Create Creative Designs For Every Web Page
        </h2>
        <p class="text-[#666666] leading-[27.2px]">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard.
        </p>
      </div>
      <div>
        <div class="h-full relative pb-[70px]">
          <img src="<%= require('./assets/images/company_img01.png.png') %>" alt="Company image" />
          <img
            class="absolute -right-[15px] bottom-0"
            src="<%= require('./assets/images/company_img02.png.png') %>"
            alt="Company image"
          />
        </div>
        <div class="pt-[50px]">
          <h2 class="text-[50px] leading-[60px] h2-gradient">All Your Questions Are Here</h2>
          <ul class="company-list text-left pb-[59.3px]">
            <li>Seo quotes to inspire your campaign</li>
            <li>Much easier to double your business</li>
            <li>Free page speed insights tool to find out exactly</li>
            <li>Seo quotes to inspire your campaign</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="container text-center bakery-section">
      <img
        class="mx-auto pb-[50px]"
        src="<%= require('./assets/images/bakery 2.png') %>"
        alt="Bakery"
      />
      <span class="span-sub-title">What We Do</span>
      <h2 class="font-bold text-[35px] pt-[15px] leading-[42px] pb-[20.6px]">
        We design and develop web and mobile applications for our clients worldwide
      </h2>
      <p class="text-[#666666] leading-[27.2px]">
        Lorem ipsum dolor sit amet, sed nulla ante amet, elementum tincidunt arcu sed laoreet,
        natoque ac eget imperdiet. Ac scelerisque nibh dolores consectetuer,
      </p>
    </section>

    <section class="pt-[139.59px] bg-[#F2FAFF] container">
      <h2 class="text-[32px] leading-[38.4px] pb-[24.18px]">
        Worldwide Best Digital Marketing Agency
      </h2>
      <p class="text-[#666666] leading-[27.2px] pb-[48.23px]">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and
      </p>
      <form id="form" class="bg-white py-[31px] px-[26px] rounded-[20px]" action="">
        <h4 class="text-2xl text-left pb-[25px] leading-[30px]">Free Consultation</h4>
        <input type="text" name="name" id="name" placeholder="Name" />
        <input type="email" name="email" id="email" placeholder="Email Address" />
        <input type="text" name="phone" id="phone" placeholder="Phone Number" />
        <div class="custom-select relative w-full flex items-center">
          <select class="appearance-none outline-none w-full h-full">
            <option>Subject</option>
            <option value="">Grow Followers</option>
            <option value="">Increase Leads</option>
            <option value="">Strengthen Engagement</option>
            <option value="">Built Brand Awareness</option>
            <option value="">Learn More About Social Media</option>
            <option value="">Basic Presence</option>
          </select>
          <div class="pointer-events-none absolute right-[22.5px] top-[22.8px]">
            <!-- Tutaj możesz umieścić własną ikonę strzałki -->
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path
                d="M5.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.576 0 0.436 0.445 0.408 1.197 0 1.615l-4.695 4.502c-0.408 0.392-1.008 0.392-1.416 0l-4.695-4.502c-0.408-0.418-0.436-1.17 0-1.615z"
              />
            </svg>
          </div>
        </div>
      </form>
    </section>

    <section class="pt-[90px] container">
      <h2 class="text-[35px] leading-[42px] pb-[30px]">Meet The Squad</h2>
      <p class="text-[#666666] leading-[27.2px] pb-[49.75px]">
        Lorem ipsum dolor sit amet, sed nulla ante amet, elementum tincidunt arcu sed laoreet,
        natoque ac eget imperdiet. Ac scelerisque nibh dolores
      </p>
      <div class="swiper-container swiper-container-with-pagination">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-silde-pagination">
            <img src="<%= require('./assets/images/inner_team03.jpg.png') %>" alt="Inner team" />
            <div class="swiper-silde-pagination__content">
              <h2>Ryan Vetrovs</h2>
              <span>CEO Kawasaki Inc.</span>
            </div>
          </div>
          <div class="swiper-slide swiper-silde-pagination">
            <img src="<%= require('./assets/images/inner_team04.jpg.png') %>" alt="Inner team" />
            <div class="swiper-silde-pagination__content">              <h2>Emerson Saris</h2>
              <span>CEO Kawasaki Inc.</span></div>
          </div>
          <div class="swiper-slide swiper-silde-pagination">
            <img src="<%= require('./assets/images/inner_team05.jpg.png') %>" alt="Inner team" />
            <div class="swiper-silde-pagination__content">              <h2>Lindsey Schleifer</h2>
              <span>CEO Kawasaki Inc.</span></div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <div id="root"></div>
  </body>
</html>
