/* Tailwind CSS framework import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper CSS import */
@import "swiper/swiper-bundle.css";

html,
body {
  @apply font-poppins w-full m-0;
}

h2 {
  @apply font-bold;
}

div,
section {
  @apply text-center;
}

.header {
  @apply shadow-[0_10px_15px_0_rgba(25,25,25,0.1)];
}

.logo-carousel {
  @apply shadow-[0_44px_64px_0_rgba(0,0,0,0.15)];
}

.show {
  @apply translate-x-0;
}

.content {
  @apply text-[19.2px] leading-[32.6px] font-light;
}

.sup-title {
  @apply text-[16px] leading-[34px] mb-5 font-medium;
}

.swiper-container {
  @apply w-full overflow-hidden;
}

.swiper-container-with-navigation {
  @apply px-5;
}

.swpier-silde {
  @apply w-[300px];
}

.swiper-slide img + img {
  @apply mt-[29px];
}

.swiper-slide img {
  @apply align-top w-full h-auto m-0 p-0;
}

.swiper-button {
  @apply w-8 h-8 bg-[#ebebeb80] rounded-2xl text-[#2d2d48] flex justify-center items-center m-0 p-0 relative;
}

.swiper-button::after {
  @apply hidden;
}

.team-image {
  @apply absolute z-20;
}

.span-sub-title {
  @apply text-[18px] leading-[30.6px] text-orangeDark font-medium;
}

.paragraph-text {
  font-size: 19.2px;
  line-height: 32.6px;
  font-weight: 300;
}

.h2-gradient {
  background: #121fcf;
  background: linear-gradient(to right, #6071d9 40%, #aa676f 66%, #ccb41a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.company-list li {
  list-style-type: none;
  position: relative;
  padding-left: 39px;
  color: #959eb6;
  font-size: 18px;
  line-height: 25.2px;
}

.company-list li:not(:last-child) {
  margin-bottom: 15.4px;
}

.company-list li::before {
  content: ""; /* Pusty content, ponieważ używamy tła */
  position: absolute; /* Pozycjonuje pseudoelement absolutnie */
  left: 0; /* Pozycjonuje znacznik na początku elementu li */
  top: 0; /* Ajustowanie pozycji znacznika */
  width: 24px; /* Szerokość obrazu znacznika */
  height: 24px; /* Wysokość obrazu znacznika */
  background-image: url("./assets/images/check_icon.png.png"); /* Ścieżka do obrazu */
  background-size: cover; /* Aby obraz pokrywał cały pseudoelement */
}

.bakery-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(244, 250, 255, 1) 100%);
}

.form-input,
select {
  padding: 22.5px 29px;
  border-radius: 13px;
  background: #fbfdff;
  border: 1px solid #d5d5d5;
  color: #0b0b0b;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

select {
  padding-right: 71px;
}

/* Dodaj ten kod do twoich stylów (może być wewnątrz <style> w head lub w pliku CSS) */
.custom-select {
  position: relative;
}
.custom-select select {
  -webkit-appearance: none; /* Usuwa domyślną strzałkę w Safari i Chrome */
  -moz-appearance: none; /* Usuwa domyślną strzałkę w Firefox */
  appearance: none; /* Usuwa domyślną strzałkę w nowoczesnych przeglądarkach */
  padding-right: 30px; /* Odstęp dla strzałki od prawej krawędzi */
}
.custom-select svg {
  height: 25px; /* Wysokość strzałki */
  width: auto;
  color: #676879; /* Odstęp strzałki od krawędzi kontenera */
}

.form-input::placeholder,
select::placeholder {
  color: #0b0b0b;
}

.swiper-container-with-pagination {
  position: relative;
}

.swiper-silde-pagination {
  width: 100%;
  padding-bottom: 40px;
  border-radius: 20px;
  position: relative;
  z-index: 10;
}
.swiper-silde-pagination img {
  border-radius: 20px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 2px solid #d9d9d9;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  border: 3px solid white;
  box-shadow: 0 0 0 2px orange;
  background-color: #f89e52;
}

.swiper-silde-pagination__content {
  position: absolute;
  padding: 24px 30px 20px;
  bottom: 39px;
  left: 0;
  z-index: 20;
  background: #fff;
  border-top-right-radius: 20px;
}

.swiper-silde-pagination__content span {
  font-size: 15px;
  line-height: 25.5px;
  color: #737373;
}

.team-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #f2faff 0%, #ffffff 100%);
}

.accordion {
  width: 100%;
  max-width: 360px; /* Ustaw szerokość zgodnie z potrzebami */
  margin: 0 auto;
}

.accordion-item {
  box-shadow: 0 15px 30px 0 rgba(61, 90, 125, 0.05);
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #f4f4f4;
}

.accordion-button {
  background: #ffffff;
  border: none;
  padding: 16px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  border: 1px solid #f4f4f4;
}

.accordion-button::after {
  content: url("./assets/images/plus.png");
  /* Umieść z prawej strony przycisku */
  margin-right: 13px;
  min-width: 33px; /* Szerokość obrazu znacznika */
  min-height: 33px;
  background: #edf2fa;
  border-radius: 16.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-button.active::after {
  content: url("./assets/images/minus.png");
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  max-height: 0;
  line-height: 27.2px;
  color: #666666;
  padding: 0 16px; /* Początkowo treść jest zwinięta */ /* Ukryj treść do czasu aktywacji */
}

.accordion-content p {
  margin: 0;
  padding: 16px; /* Usuń domyślny margines z akapitów */
}

/* Styl dla aktywowanej treści */
.accordion-button.active + .accordion-content {
  height: max-content; /* dostosuj to do rzeczywistej wysokości zawartości */
}

.accordion-button:not(.active) + .accordion-content {
  padding: 0 16px; /* Ustaw padding-left i padding-right na 0, aby treść była całkowicie ukryta */
}

.pdf-form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  border-radius: 20px;
}

.pdf-input {
  border: 1px solid #efefef;
  padding: 20.26px 0;
  text-align: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 34px 64px 0 rgba(20, 28, 49, 0.11);
}

.pdf-button {
  padding: 24px 0;
  border-radius: 0 0 20px 20px;
  color: #fff;
  border: 1px solid #3482ff;
  background: #3482ff;
  box-shadow: 0 34px 64px 0 rgba(20, 28, 49, 0.11);
}
