@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Poppins', sans-serif;
}

.header {
    box-shadow: 0 10px 15px 0 #1919191a;
}



.banner-content__heading {
    font-size: 35.2px;
    line-height: 38.7px;

    font-weight: bold;
}

.banner-content__button {
    background-color: #F79D5A;

    border: none;
    border-radius: 32px;
    color: #FFF1E7;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 90px;
    padding: 23px 21px 22.19px;
}

.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; /* Adjust as necessary for spacing */
}

.logo-carousel {
    overflow: hidden;
    position: relative;
    box-shadow: 0 44px 64px 0 rgba(0, 0, 0, 0.15);
}

.logo-images {
    display: inline-flex;
    animation: scroll 30s linear infinite;
}

.logo-images img {
    width: 100px; /* Zmodyfikuj szerokość zgodnie z rozmiarem logo */
    height: auto;
    margin-right: 20px; /* Odstęp między logo */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.stat-card {
    background-color: #fff;
    border-color: #F3F3F3;
    border-radius: 10px;

    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 220px;
    min-height: 220px;
    position: relative;
  }
  
  .stat-number {
    font-size: 44px;
    font-weight: bold;
    z-index: 10;
  }
  
  .stat-text {
    color: #6B645D;
    font-size: large;
    z-index: 10;
  }
  
  .stat-card img {
    position: absolute;
    bottom: 0;
  }
  