@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/swiper-bundle.css';


html {
    font-family: 'Poppins', sans-serif;
}

.header {
    box-shadow: 0 10px 15px 0 #1919191a;
}

/* Styl dla menu mobilnego */
.mobile-menu {
    display: block; /* Zmiana na block, aby umożliwić animację */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    transform: translateX(100%); /* Ukrywa menu poza ekranem */
    transition: transform 0.3s ease; /* Animacja wsunięcia */
  }
  
  
  /* Styl, aby pokazać menu */
  .mobile-menu.show {
    transform: translateX(0); /* Przesuwa menu do widocznej pozycji */
  }

  .mobile-menu-link {
    padding: 10px 0 10px 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
  }
  
  /* Dalsze style dla linków, animacji itp. */
  

.banner-content__heading {
    font-size: 35.2px;
    line-height: 38.7px;

    font-weight: bold;
}

.banner-content__button {
    background-color: #F79D5A;

    border: none;
    border-radius: 32px;
    color: #FFF1E7;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 90px;
    padding: 23px 21px 22.19px;
}

.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; /* Adjust as necessary for spacing */
}

.logo-carousel {
    overflow: hidden;
    box-shadow: 0 44px 64px 0 rgba(0, 0, 0, 0.15);
}

.logo-images {
    display: flex;
    align-items: center;
    animation: scroll 10s linear infinite;
}

.logo-images img {
    margin-right: 44px; /* Odstęp między logo */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
  }

.stat-card {
    background-color: #fff;
    border-color: #F3F3F3;
    border-radius: 10px;

    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 220px;
    min-height: 220px;
    position: relative;
  }
  
  .stat-number {
    font-size: 44px;
    font-weight: bold;
    z-index: 10;
  }
  
  .stat-text {
    color: #6B645D;
    font-size: large;
    z-index: 10;
  }
  
  .stat-card img {
    position: absolute;
    bottom: 0;
  }
  
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .rotating-element {
    animation: rotateAnimation 2s ease-in-out infinite;
  }
  
  .sup-title {
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .h2-title {
    font-size: 45.7px;
    line-height: 54.8px;
    font-weight: 700;
  }

  .paragraph-text {
    font-size: 19.2px;
    line-height: 32.6px;
    font-weight: 300;
  }

  .swiper-container {
    width: 100%;
    height: 300px; /* Można dostosować do potrzeb */
    overflow: hidden; /* Zapobiega wyświetlaniu się treści poza kontenerem */
}

.swiper-slide {
  width: 100%; /* Każdy slajd powinien zajmować pełną szerokość kontenera */
  height: 100%; /* Można dostosować do wysokości kontenera */
  /* Dodatkowe style jak potrzebne */
}

